/*.informacoes-cliente {
    margin-bottom: 20px;
} */
table tr:nth-child(odd) {
    background-color: #f2f2f2; /* Cor cinza clara para linhas ímpares */
}

table tr:nth-child(even) {
    background-color: #ffffff; /* Cor branca para linhas pares */
}
body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

input[type="text"] {
    width: auto; /* Define a largura */
}
input[type="number"] {
    width:15%; /* Define a largura */
}

/* Ajustes para telas menores (como smartphones) */
.produtos,label,item{
    width: 80%;
}
@media (max-width: 768px) {
    body {
        flex-direction: column; /* Empilhar elementos verticalmente */
        margin: 10px;
    }

    .formulario, .painel {
        width: 100%; /* Cada um ocupa 100% da largura */
        margin-bottom: 20px; /* Espaço entre os blocos */
    }

    .formulario {
        padding: 10px;
    }

    .painel {
        padding: 10px;
        border: 1px solid #ccc;
    }

    .mensagem-inicial {
        font-size: 1em;
        padding: 10px;
    }

    .produto {
        display: grid;
        /*grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        //grid-auto-rows: minmax(100px, auto); */
    }
}

/* Ajustes para telas muito pequenas */
@media (max-width: 480px) {
    .total {
        font-size: 1em;
    }

    .botao {
        width: 100%; /* Botões ocupam toda a largura */
        margin: 5px 0; /* Espaço entre os botões */
        padding: 10px;
    }
}

body {
            font-family: Arial, sans-serif;
            /*margin: 20px;*/
            display: flex;
            justify-content: space-between;
        }
        /*.formulario {
            width: 60%;
        }*/
        .painel {
            /*width: 35%;*/
            border: 1px solid #ccc;
            padding: 10px;
            height: fit-content;
        }
        .total {
            font-size: 1.2em;
            font-weight: bold;
        }
        .valor-produto {
            margin-left: 10px;
            font-weight: bold;
        }
        .botao {
            width:auto;
        }
        
    